/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

.watermark {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
  font-variant: small-caps;
  color: lightgray;
  font-weight: normal;
  font-size:80%;
}

.name {
    padding: .5rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
    font-variant: small-caps;
  font-weight: normal;
  font-size:95%;
  background-color: #223843;
  color: white;
}


/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}


.profile {
 padding-left: .5rem;
}

.profile-pic {
    display:inline-block;
    border:2px solid #025482;
    border-radius:100%;
    width:150px;
    height:150px;
    background-position:center;
    background-size:cover;}


.shift-down {
    transform: translateY(15%);
}

.bio-sidebar {
    -ms-flex: 0 0 230px;
    flex: 0 0 230px;
    text-align: center;
}

/* Customize container */
@media (min-width: 50em) {
  .container {
    max-width: 65rem;
  }
}
.container-narrow > hr {
  margin: 2rem;
}

/* panels */
.main-panel {
  margin: 3rem 0;
}
.main-panel p + h4 {
  margin-top: 1.5rem;
}

.sub-panel {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.sub-panel h4 {
  width:100%;
  border-bottom: 1px solid lightgray;
  color: #025482;
}

/* Publications */
.pub-title {
}
.pub-authors {
    font-size:90%;
    font-style:italic;
    padding-left:2rem;
}
.pub-links {
    padding-left:2rem;
    font-variant: small-caps;
}
.pub-links img {
    transform: translateY(-15%);
    width:15px;
    margin-left:2px;
}
.pub-links-header {
  color: #025482;
  font-size:90%;
}
.pub-links-header-a {
  font-size:90%;
}
.pub-line {
  margin-bottom: 0.5rem;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .misc-panel,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
}

